* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f4f4f9;
  line-height: 1.6;
}
.social-icons img {
  width: 40px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

header {
  z-index: 10;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  padding: 20px 24px;
}
.nav-item2 {
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
}
.nav-item1 {
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 110px;
  padding-right: 110px;
  font-size: 30px;
}

li {
  list-style: none;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(202, 111, 111);
  border-radius: 30px;
  padding: 10px;
  width: 5%;
}

.second-row {
  background-color: rgb(216, 221, 232);
  margin-top: 100px;
  font-size: 30px;
}
.second-row h1 {
  text-align: center;
  padding-top: 120px;
}
.second-row h2 {
  text-align: center;
}
#images {
  display: flex;
  gap: 80px;
  margin-left: 100px;
  padding-top: 40px;
}
#images img {
  width: 40%;
  border-radius: 40px;
}
.image1 {
  margin-left: 100px;
  display: flex;
  gap: 80px;
  padding-top: 60px;
  padding-bottom: 140px;
}
.image1 img {
  width: 40%;
  border-radius: 40px;
}
.gallery-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  animation: scroll 10s linear;
}
.gallery-item img {
  width: 50%;
  object-fit: cover;
  animation: moveZoom 2s ease-in-out infinite;
}

@keyframes moveZoom {
  0% {
    transform: scale(1) translate(0, 0);
  }

  25% {
    transform: scale(1.2) translate(10px, -10px);
  }

  50% {
    transform: scale(1) translate(-10px, 10px);
  }

  75% {
    transform: scale(1.2) translate(-10px, -10px);
  }

  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.gallery-item img:nth-child(1) {
  animation-delay: 0s;
}

.gallery-item img:nth-child(2) {
  animation-delay: 0.5s;
}
.gallery-item img:nth-child(3) {
  animation-delay: 1s;
}

.gallery-item img:nth-child(4) {
  animation-delay: 1.5s;
}
.gallery-item img:nth-child(5) {
  animation-delay: 2s;
}

.bar {
  display: block;
  height: 5px;
  margin: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(202, 111, 111);
}
.third-row {
  text-align: center;
  font-size: 30px;
  margin-top: 120px;
  overflow: hidden;
  position: relative;
}

.discord {
  border: 1px solid rgb(97, 62, 62);
  width: 40%;
  background-color: rgb(97, 62, 62);
  color: #fff;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 75px;
}
.third-row p {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #333;
  width: 90%;
}
.fourth {
  background-color: rgb(163, 214, 214);
  margin-top: 10px;
  padding-bottom: 30px;
}
.fourth h1 {
  padding-top: 20px;
  margin-left: 30px;
  font-size: 30px;
}
.fourth p {
  text-align: center;
  padding: 30px;
}
.fourth h2 {
  text-align: center;
}
.fifth-row {
  padding-top: 30px;
  padding-bottom: 20px;
}

.sixth-row {
  background-color: rgb(238, 209, 219);
  text-align: center;
  padding: 30px;
}

.sixth-row p {
  margin-bottom: 30px;
  margin-top: 30px;
}

.tilted img {
  align-items: center;
  border: 6px solid #333;
  margin-bottom: 40px;
  border-radius: 40px;
  overflow: hidden;
  width: 40%;
}
.tilted1 img {
  align-items: center;
  border: 6px solid #333;
  margin-bottom: 40px;
  border-radius: 40px;
  overflow: hidden;
  transform: rotate(-5deg);
  width: 40%;
}
.tilted2 img {
  align-items: center;
  border: 6px solid #333;
  margin-bottom: 40px;
  border-radius: 40px;
  overflow: hidden;
  transform: rotate(-5deg);
  width: 40%;
}
.tilted3 img {
  align-items: center;
  border: 6px solid #333;
  margin-bottom: 40px;
  border-radius: 40px;
  overflow: hidden;
  transform: rotate(5deg);
  width: 40%;
}

.community {
  border: 4px solid black;
  border-radius: 10px;
  width: 85%;
  padding-bottom: 60px;
  background-color: white;
  margin-top: 20px;
}
.community h3 {
  margin-left: 20px;
  padding-top: 20px;
  margin-bottom: -20px;
}
.pool {
  border: 4px solid black;
  border-radius: 10px;
  width: 85%;
  padding-bottom: 60px;
  background-color: white;
  margin-top: 20px;
}
.pool h3 {
  margin-left: 20px;
  padding-top: 20px;
  margin-bottom: -20px;
}

.pool p {
  margin-bottom: -50px;
}

.list img {
  width: 20%;
  margin-right: 330px;
  padding: 10px;
}
.big-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tilted-number {
  color: #333;
  font-weight: bold;
  transform: rotate(-10deg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dotted-line {
  border-left: 2px dashed black;
  width: 0;
  height: 200px;
  transform: rotate(-5deg);
  margin-top: -8px;
  margin-left: 50px;
  margin-bottom: 80px;
}

.dotted-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 2px black;
  border-radius: 50%;
  transform: rotate(45deg);
  transform-origin: center;
}

.dotted-line::after {
  content: "";
  margin-left: 2px;
  margin-top: -10px;
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 2px;
  height: 5px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  transform-origin: left bottom;
}

.side-scroll-image {
  width: calc(90%);
  display: flex;
  gap: 40px;
  animation: scroll 10s infinite;
  padding: 20px;
  border: 20px solid transparent;
  z-index: 1;
}

.side-scroll-image img {
  width: 60%;
  border-radius: 40px;
}

.image:nth-child(1) {
  animation-delay: 0s;
}

.image:nth-child(2) {
  animation-delay: 4s;
}

.image:nth-child(3) {
  animation-delay: 8s;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}
.nav-branding {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1em;
  background: linear-gradient(90deg, #72d1f1, green, pink, #f7e17a, #f78b60);
  -webkit-background-clip: text;
  color: transparent;
}
.seventh-row h1 {
  text-align: center;
}
.seventh-row h2 {
  text-align: center;
}
.seventh-row img {
  border: 1px solid blue;
  border-radius: 590px;
  width: 30%;
}

@keyframes slideDown {
  from {
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    transform: scaleY(1);
    transform-origin: top;
  }
}

@media (max-width: 500px) {
  .hamburger {
    display: block;
    font-size: 5px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 20px;
    width: 60%;
    margin-left: 130px;
    transition: 0.3s;
  }
  .nav-lin {
    display: none;
  }
  .nav-item {
    margin: 16px 0;
    font-size: 30px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-branding {
    font-size: 20px;
    margin-left: -30px;
  }

  .second-row p {
    display: none;
  }

  header {
    width: 194vw;
  }

  .second-row {
    width: 205vw;
  }
  .third-row {
    width: 200vw;
  }
  .fourth {
    width: 205vw;
  }
  .fifth-row {
    width: 190vw;
  }
  .sixth-row {
    width: 190vw;
  }
  .seventh-row {
    width: 190vw;
  }

  .discord {
    margin-left: 200px;
  }
  .third-row h2 {
    margin-left: 300px;
    font-size: 40px;
  }
  .third-row h1 {
    margin-right: 160px;
    font-size: 40px;
  }
  .third-row p {
    margin-left: 62px;
  }
  .tilted-number {
    font-size: 110px;
  }

  .fourth p {
    font-size: 32px;
  }
  .fourth h1,
  h2 {
    font-size: 50px;
  }
  .community {
    margin-left: 55px;
  }
  .pool {
    margin-left: 55px;
  }
  .community h3 {
    font-size: 40px;
  }
  .pool h3 {
    font-size: 40px;
  }
  .fifth-row {
    margin-left: 40px;
  }
  .fifth-row h1 {
    font-size: 50px;
    text-align: center;
  }
  .fifth-row p {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .fifth-row h3 {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 40px;
  }
  .fifth-row h4 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sixth-row h1 {
    font-size: 40px;
  }
  .sixth-row p {
    font-size: 30px;
  }

  .seventh-row h1 {
    font-size: 50px;
    margin-left: 50px;
  }
  .seventh-row p {
    font-size: 30px;
    margin-left: 230px;
  }
  .seventh-row img {
    margin-left: 300px;
    margin-top: 60px;
  }
  .seventh-row h2 {
    margin-left: 60px;
    font-size: 30px;
  }
}
